@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");

@font-face {
  font-family: "Metro Retro NF";
  src: local("Metro Retro NF"), url("/fonts/MetroRetroNF.ttf");
}

@font-face {
  font-family: "Joystix";
  src: local("Joystix"), url("/fonts/joystix.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
