@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

@font-face {
  font-family: "Metro Retro NF";
  src: local("Metro Retro NF"), url("/fonts/MetroRetroNF.ttf");
}

@font-face {
  font-family: "Joystix";
  src: local("Joystix"), url("/fonts/joystix.ttf");
}

@font-face {
  font-family: "Dubiel";
  src: local("Dubiel"), url("/fonts/DubielPlain.ttf");
}

@font-face {
  font-family: "Antique Book Cover";
  src: local("Antique Book Cover Regular"), url("/fonts/Antique Book Cover.otf");
}

html,
body {
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  margin: 0px !important;
  padding: 0px !important;
}

#app {
  text-align: center;
  width: 100%;
  top: 0;
}

* {
  margin: 0;
}
